*{
    margin: 00;
    padding: 00;
    box-sizing: border-box;
}

body{
   font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 50px 65px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    color: #575757;
    font-size: 15px;
}
.nav-btn button{
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #1d4ed8;
    color: #ffff;
    text-decoration: none;
    border: none;
    font-size: 12px;
}
.hero{ background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url(./banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 620px;
}
.hero-content{
    color: #ffff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.hero-content h1{
    margin-bottom: 25px;
    font-size: 65px;
}
.hero-content p{
    color: #ffff;
    font-size: 19px;
    max-width: 650px;
    margin: 0 auto 30px;
}
.hero-content button{
    background-color: #1d4ed8;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 200px;
    font-size: 19px;
    font-weight: bold;
}
.speakers h2{
    text-align: center;
   font-size: 50px;
   padding-top: 60px;
  
}

.container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   gap: 22px;
   padding: 80px 60px;
}
.card{
 background: #fff;
 border: 1px solid #e5e7eb;
 border-radius: 12px;
 overflow: hidden;
 height: 400px;
 
}
 .card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
 }
 .content{
    padding: 22px;
 }
 .content h5{
    color: #2563eb;
   padding-bottom: 12px;
 }
 .container h3{
    color: #0d1b2a;
    padding-bottom: 12px;
 }
 .container p{
    color: #575757;
    padding-bottom: 12px;
 }
 /* price section css */
.pricing{
   padding: 80px 60px;
   background-color: #ffff ;}
.pricing-heading{
   text-align: center;
}
.pricing-heading h2{
   font-size: 50px;
   color: #0D1B2A;
   margin-bottom: 10px;
}
.pricing-heading p{
   color: #575757;
   font-size: 17px;
}
.pricing-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
   max-width: 1000px;
   margin: 35px auto 0;
}
.price-card{
   border: 1px solid #e5e7eb;
   border-radius: 8px;
   padding: 25px;
   background-color: #fff;
}
.price-card h5{
   color: #575757;
   font-size: 12px;
   margin-bottom: 6px;
}
.price-card h3{
   color: #0d1b2a;
   font-size: 45px;
   margin-bottom: 00px;
}
.price-card span{
   color: #575757;
   font-size: 12px;
}

.price-card hr{
   border: none;
   border-top: 1px solid #e5e7e5;
   margin: 20px 0;
}
.price-card ul{
   list-style: none;
   padding: 0;
   margin: 0;
}
.price-card li{
   color: #575757;
   font-size: 12px;
   margin-bottom: 10px;
}
.price-card li::before{
   content: "*";
   color: #2563eb;
   margin-right: 12px;
}
.price-card button{
   width: 100%;
   padding: 10px;
   margin-top: 12px;
   border: 1px solid #2563eb;
   border-radius: 5px;
   color: #2563eb;
   font-size: 13px;
}
.two{
border: 1px solid #0d1b2a;
}
.pro-card{
   background-color: #0d1b2a;
   color: #ffff;
}
.pro-card h5{
  color: #93c5fd;
}
.pro-card h3{
   color: white;
}
.pro-card li{
   color: #ffff;
 }
.pro-card button{
   background-color: #2563eb;
   color: white;
   border-color: #2563eb;
}
.pro-card hr{
   border-color: #26384a;
}