*{
    margin: 00;
    padding: 00;
    box-sizing: border-box;
}

body{
    font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 50px 65px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    color: #575757;
    font-size: 15px;
}
.nav-btn button{
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #1d4ed8;
    color: #ffff;
    text-decoration: none;
    border: none;
    font-size: 12px;
}
.hero{ background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url(./banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 620px;
}
.hero-content{
    color: #ffff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.hero-content h1{
    margin-bottom: 25px;
    font-size: 65px;
}
.hero-content p{
    color: #ffff;
    font-size: 19px;
    max-width: 650px;
    margin: 0 auto 30px;
}
.hero-content button{
    background-color: #1d4ed8;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 200px;
    font-size: 19px;
    font-weight: bold;
}
.speakers h2{
    text-align: center;
   font-size: 50px;
   padding-top: 60px;
  
}

.container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   gap: 22px;
   padding: 80px 60px;
}
.card{
 background: #fff;
 border: 1px solid #e5e7eb;
 border-radius: 12px;
 overflow: hidden;
 height: 400px;
 
}
 .card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
 }
 .content{
    padding: 22px;
 }
 .content h5{
    color: #2563eb;
   padding-bottom: 12px;
 }
 .container h3{
    color: #0d1b2a;
    padding-bottom: 12px;
 }
 .container p{
    color: #575757;
    padding-bottom: 12px;
 }